@{
    ViewBag.Title = "Home Page";
}

<div id="Flickr" class="tab-content">
    <p>
        <div class="ms-SearchBox">
            <input class="ms-SearchBox-field">
            <label class="ms-SearchBox-label"><i class="ms-SearchBox-icon ms-Icon ms-Icon--search"></i>Search</label>
            <button class="ms-SearchBox-closeButton"><i class="ms-Icon ms-Icon--x"></i></button>
        </div>
    </p>
    <button class="ms-Button ms-Button--hero" id="btnSearchFlickr">
        <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--check"></i></span>
        <span class="ms-Button-label">Submit</span>
    </button>
</div>
<div id="Code" class="tab-content" style="display:none">Code tab</div>