<p>
    <div class="ms-font-l ms-fontWeight-semibold">Privacy</div>
    <div class="ms-font-m">Content Mixr does not collect or transmit any personal information. Any images or other content you put into Content Mixr is used only for inserting into an Office client and is never tracked. If you would like to report any violations of this policy, please contact me below.</div>
    <br /><div class="ms-font-l ms-fontWeight-semibold">Support</div>
    <div class="ms-font-m">For support please contact Ryan McIntyre on <a class="ms-Link" href="http://www.twitter.com/ryanmcintyre">Twitter</a>.</div>
</p>

