body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Begin from App.css */
/* Common app styling */

#content-header {
    background: #2a8dd4;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Fixed header height */
    overflow: hidden; /* Disable scrollbars for header */
    background-image: url('../MixrIcon64.png');
    background-repeat: no-repeat;
    background-position-y: center;
}

h1 {
    padding-left: 60px;
}

#content-main {
    background: #fff;
    position: fixed;
    top: 80px; /* Same value as #content-header's height */
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto; /* Enable scrollbars within main content section */
    padding: 15px;
}

.padding {
    padding: 15px;
}

#notification-message {
    background-color: #818285;
    color: #fff;
    position: absolute;
    width: 100%;
    min-height: 80px;
    right: 0;
    z-index: 100;
    bottom: 0;
    display: none; /* Hidden until invoked */
}

#notification-message #notification-message-header {
    font-size: medium;
    margin-bottom: 10px;
}

#notification-message #notification-message-close {
    background-image: url("../Images/Close.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}
/* End from App.css */

/* Begin from Home.css */
.tab-content {
    padding: 15px;
}

.ms-Button.ms-Button--hero {
    /*padding: 10px 20px 6px;*/
    line-height: normal;
}
/* End from Home.css */

button[name="paging"] {
    padding: 10px 20px 6px;
}

#Previous {
    float: left;
}

span.thumbnail {
    cursor: pointer;
}

.instructions {
    text-align:center;
    padding-bottom: 20px;
}

.ms-TextField-field {
    height: 400px;
    width: 200px;
}

pre.prettyprint {
    border: none !important;
}

#codePreview.ms-Button--hero {
    padding-bottom: 5px;
}